<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-flc-util" version="1.5.0">
    <name>cordova-plugin-flc-util</name>
    <description>Cordova FullLegitCode Util Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,fulllegitcode,flc,util,wakelock,wake lock,decode,image,ip,address,permissions</keywords>

    <js-module src="www/flc-util.js" name="FlcUtil">
        <clobbers target="cordova.plugins.FlcUtil" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FlcUtil" >
                <param name="android-package" value="pl.fulllegitcode.utilcordova.UtilCordova"/>
            </feature>
        </config-file>

        <source-file src="src/android/pl/fulllegitcode/util/Exo.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/util/PermissionResult.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/util/RequestPermissionsCallback.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/util/RequestPermissionsDelegate.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/util/TemperatureReceiver.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/util/Util.java" target-dir="src/pl/fulllegitcode/util" />
        <source-file src="src/android/pl/fulllegitcode/utilcordova/UtilCordova.java" target-dir="src/pl/fulllegitcode/utilcordova" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/audio360.jar" target="libs/audio360.jar" />
        <resource-file src="src/android/libs/audio360-exo.jar" target="libs/audio360-exo.jar" />
        <resource-file src="src/android/libs/flcexoplayer-controller.aar" target="libs/flcexoplayer-controller.aar" />
        <resource-file src="src/android/libs/guava-31.0.1-android.jar" target="libs/guava-31.0.1-android.jar" />
        <resource-file src="src/android/libs/media3-common-1.0.0.aar" target="libs/media3-common-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-database-1.0.0.aar" target="libs/media3-database-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-datasource-1.0.0.aar" target="libs/media3-datasource-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-decoder-1.0.0.aar" target="libs/media3-decoder-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-exoplayer-1.0.0.aar" target="libs/media3-exoplayer-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-exoplayer-dash-1.0.0.aar" target="libs/media3-exoplayer-dash-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-exoplayer-hls-1.0.0.aar" target="libs/media3-exoplayer-hls-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-exoplayer-rtsp-1.0.0.aar" target="libs/media3-exoplayer-rtsp-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-exoplayer-smoothstreaming-1.0.0.aar" target="libs/media3-exoplayer-smoothstreaming-1.0.0.aar" />
        <resource-file src="src/android/libs/media3-extractor-1.0.0.aar" target="libs/media3-extractor-1.0.0.aar" />
        <resource-file src="src/android/libs/sdk-base-1.190.0.aar" target="libs/sdk-base-1.190.0.aar" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FlcUtil">
                <param name="ios-package" value="FlcUtilPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/pl/fulllegitcode/util/FlcUtilObjectiveC.h" />
        <source-file src="src/ios/pl/fulllegitcode/util/FlcUtilObjectiveC.m" />
        <source-file src="src/ios/pl/fulllegitcode/util/FlcUtilPlugin.swift" />
        <source-file src="src/ios/pl/fulllegitcode/util/FlcUtil.swift" />
    </platform>

    <platform name="windows">
        <js-module src="src/windows/flc-util-proxy.js" name="FlcUtilProxy">
            <runs />
        </js-module>

        <framework src="src/windows/FullLegitCode.Util.winmd" custom="true" />
    </platform>
</plugin>
